<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ConfigurationSettingsServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ConfigurationSettingsServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://devtfs.cmit.local/DefaultCollection/WorkItemTracking/v1.0/ConfigurationSettingsService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ConfigurationSettingsServiceSoap"
                contract="ServiceReference1.ConfigurationSettingsServiceSoap"
                name="ConfigurationSettingsServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>